.question-container {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto 1fr 1fr; /* Three rows: one for the question, two for the answers */
    grid-gap: 10px;
    margin-bottom: 20px;
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.question {
    grid-column: 1 / -1; /* Take up the entire row */
    margin-bottom: 20px; /* Separation between question and answers */
    color: white;
    text-align: center;
}

.answer {
    background-color: #363636; /* Example background color */
    padding: 10px;
    text-align: center;
    color: black;
    user-select: none;
}

#timer-bar {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: white;
    transition: width .25s linear;
}

.blinking {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: red;
    }
}

#timer-bar.green {
    background-color: green;
}